PORT=3000
MONGODB_URI=mongodb://localhost:27017/chatapp
NODE_ENV=development
JWT_SECRET=ilovecoffee
# Resend
RESEND_API=
SENDER_EMAIL=onboarding@resend.dev
SENDER_NAME="OpenChat"
CLIENT_URL=http://localhost:5173

# Cloudinary
CLOUD_NAME=
CLOUD_API=
CLOUD_SECRET=